.content_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  /* padding-bottom: 100px; */
  z-index: 1;
}

.product_not_found {
  grid-area: 1/1/-1/-1;
  width: 100%;

  text-align: center;
}

.search_wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 30px 60px;
}

/* add product */
.addProductForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.addProductForm input {
  padding: 10px;
  font-size: 14px;
}

.addProductForm button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.addProductForm button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.addProductForm button[type="submit"]:hover {
  background-color: #45a049;
}

.addProductForm button[type="button"] {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
}

.addProductForm button[type="button"]:hover {
  background-color: #e53935;
}
