.box {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 480px;
}
.box_header {
  text-align: center;
  margin: 100px 0 40px 0;
}
.header_title {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.input_box > .input_field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 25px;
  border-radius: 22px;
  background-color: white;
  border: 1px solid black;
  transition: all 0.5s;
  outline: none;
  color: black;
  &::placeholder {
    color: #222;
    font-weight: 500;
  }
  &:focus {
    width: 105%;
  }
}

.forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.forgot section {
  color: #555;
  display: flex;
  align-items: center;
  font-size: 14px;
}

#check {
  margin-right: 10px;
}

.forgot section a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.submit_wrapper {
  position: relative;
  &:hover {
    color: white;
  }
}

.submit_btn {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: black;
  }
}

.submit_wrapper > label {
  position: absolute;
  top: 45%;
  left: 50%;
  /* color: black; */

  -webkit-transform: translate(-50%, -50%);
  -ms-flex-align: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
/* input_box
input_field */

.sign_up_link {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.sign_up_link a {
  text-decoration: none;
  cursor: pointer;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}
